<!DOCTYPE html>
	<style>
		header {
			color: white;
			font-family: 'Courgette', cursive;;
			text-align: center;
			background: url("http://img04.deviantart.net/dd7c/i/2015/010/0/3/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg");
		}
		#nav {
			padding: 10px
			background: brown;
		}
		li {
			display: inline;
			padding: 0px 20px 0px 20px;
		}
		