		body {
			color: white;
			text-align: center;
			background-image: url("http://img04.deviantart.net/dd7c/i/2015/010/0/3/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg");
		}
		ul.nav li{
			padding: 10px
			text-color: white;
		}
		li {
			display: inline;
			padding: 0px 20px 0px 20px;
			background-color: : white;
		}
		a{
			color: white;
			text-decoration: none;
		}